%button {
  @extend %flexbox;
  @include align-items(center);
  @include flex-just(center);

  text-align: center;
  font-size: calcSize(14px);
  color: #464646;
  box-sizing: border-box;
  //border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 20px rgba(255, 218, 160, 0.5), 0 4px 0 #D3A854;
  background: radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%);
  text-decoration: none;
  padding: calcSize(10px) calcSize(12px);
  line-height: 150%;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border: none;

  &:hover {
    text-decoration: none;
  }

  &-simple {
    @extend %border-radial;
    font-weight: unset;
    box-shadow: none;
    text-shadow: none;
    border-radius: 30px;
    letter-spacing: -0.2px;
  }

  &-white {
    color: white;
  }

  &-upper {
    text-transform: uppercase;
  }
}