%styledSkew {
  border-top: 0px;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(100% - 1px);
    right: 0;
    border-radius: 7px;
    padding-top: 100%;
    transform: scaleY(0.211) translateY(186%);
  }

  &-left {
    border-top-left-radius: 0;

    &::before {
      border-bottom-left-radius: 0;
      background: linear-gradient(225deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 51%, #ffffff 100%);

    }
  }

  &-right {
    border-top-right-radius: 0;

    &::before {
      border-bottom-right-radius: 0;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 51%, #ffffff 100%);
    }
  }
}

@mixin border-radial {
  background: #ffffff;
  background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%) padding-box,
  radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%) border-box;
  border: 1px solid transparent;
}

%border-radial {
  @include border-radial();
}