.styledBlock {
  position: relative;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  padding: calcSize(20px);
  border-radius: 5px;
  transition: 350ms;

  &--pinned {
    background: none;
    font-weight: 700;
    font-size: calcSize(16px);
    line-height: calcSize(22px);
    text-align: center;
    z-index: 0;
    letter-spacing: -0.5px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(20px);
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      width: calcSize(14px);
      height: calcSize(14px);
      left: calc(50% + 1px);
      top: 0;
      transform: translate(-50%, -50%);
      background: radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%);
      box-sizing: border-box;
      border-radius: 100%;
    }
  }
}

.tips {
  @extend %flexbox;
  @include flex-wrap(wrap);

  margin-top: calcSize(-28px);
  margin-bottom: calcSize(50px);
  gap: calcSize(14px) calcSize(28px);
  line-height: calcSize(22px);
  color: #101010;


  &__item {
    @extend .styledBlock;
    @extend %flexbox;
    @include align-items(center);

    padding: calcSize(20px);
    gap: calcSize(28px);

    &:first-child, &:last-child {
      display: block;
      min-width: calcSize(155px);

      i[class*=ico-] {
        display: block;
        margin-bottom: calcSize(5px);
      }
    }

    &:first-child {
      @extend %styledSkew;
      @extend %styledSkew-left;
    }

    &:last-child {
      @extend %styledSkew;
      @extend %styledSkew-right;
    }
  }

  @media (max-width: 1010px) {
    &__item {
      &:first-child {
        order: -4;
      }

      &:nth-child(2) {
        order: -2;
        flex-grow: 1;
      }

      &:last-child {
        order: -1;
      }

      @media (min-width: 569px) {
        flex-basis: calc(50% - 14px);

        &:first-child,
        &:nth-child(2),
        &:last-child {
          flex-basis: 30%;
          display: block;
        }
      }
    }
  }

  @media (max-width: 568px) {
    &__item {
      width: 100%;

      &:nth-child(2) {
        order: unset;
      }

      &:last-child {
        order: -1;
      }

      &:first-child, &:last-child {
        width: calc(50% - 14px);
      }

    }
  }

  @media (max-width: 414px) {
    font-size: calcSize(14px);
    gap: calcSize(10px) calcSize(20px);
    line-height: calcSize(19px);

    &__item {
      padding: calcSize(20px) calcSize(30px);
      gap: calcSize(14px);

      &:first-child, &:last-child {
        padding: calcSize(10px) calcSize(20px) calcSize(20px);
        width: calc(50% - 10px);
        min-width: unset;
      }
    }
  }

  @media (min-width: 415px) {
    i[class*=ico-] {
      display: block;
      margin-bottom: calcSize(5px);
    }
  }

  @media (min-width: 1010px) {
    @include flex-wrap(nowrap);

    &__item {
      display: block;
      letter-spacing: -0.4px;
    }
  }
}

.quiz {
  &__item {
    @extend .styledBlock;

    color: #101010;
    line-height: 150%;
    padding: calcSize(40px) calcSize(10px);

    .description {
      font-weight: 700;
      color: #FABD61;
      letter-spacing: -0.4px;
    }

    h2 {
      @extend %f-Oswald;

      font-style: normal;
      font-weight: 400;
      font-size: calcSize(22px);
      line-height: calcSize(33px);
      text-transform: uppercase;
      color: #342100;
      margin: calcSize(20px) 0;
    }

    .checkboxes {
      padding-left: calcSize(20px);
      letter-spacing: -0.2px;

      &::before {
        content: "";
        display: table;
      }

      li {
        margin: 11px 0 20px;
      }
    }

    img {
      display: block;
      border-radius: 5px;
      margin: auto;
    }

    a.button {
      &.flex_m {
        max-width: calcSize(231px);
        margin: calcSize(35px) auto calcSize(48px);
      }

      &.flex_s {
        width: calcSize(250px);
        margin: calcSize(30px) auto calcSize(10px);
      }
    }

    @media (min-width: 415px) {
      padding: calcSize(40px) calcSize(20px);
    }

    @media (min-width: 769px) {
      padding: calcSize(50px) calcSize(70px) calcSize(60px);

      &__content {
        @include flexbox();
        @include flex-just(space-around);
        gap: calcSize(150px, 1030px, 100%);

        &__image {
          padding: calcSize(10px) 0;
          text-align: right;

          img {
            margin-right: 0;
            display: block;
          }
        }

        .col {
          flex-grow: 1;
          flex-basis: 50%;
        }
      }

      .checkboxes {
        padding-left: calcSize(100px, 440px, 100%);
      }

      .description {
        font-size: calcSize(20px);
        line-height: 150%;
      }

      h2 {
        font-size: calcSize(38x);
        line-height: calcSize(56px);
        margin-bottom: calcSize(30px);
      }
    }
  }

  @media (max-width: $containerWidth) {
    .container {
      padding-left: calcSize(15px);
      padding-right: calcSize(15px);
    }
  }
}