.button {
  @extend %button;

  &-big {
    @extend %button-upper;
    border-radius: 100px;
    height: calcSize(70px);
    font-weight: 700;
    line-height: 150%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }

  &-middle {
    @extend %button-upper;
    @extend %button-white;

    border-radius: 100px;
    height: calcSize(60px);
  }

  &-small {
    border-radius: 30px;
  }

  &-simple {
    @extend %button-simple;
  }

  &.white {
    @extend %button-white;
  }

  @media (min-width: 569px) {
    &-big {
      height: calcSize(80px);
    }

    &-big, &-middle {
      font-size: calcSize(16px);
    }
  }
}