body {
  background: #E5E5E5;
  @extend %f-Manrope;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: $containerWidth;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $containerWidth) {
    padding-left: calcSize(8px);
    padding-right: calcSize(8px);
  }
}

img {
  max-width: 100%;
}

.orange {
  color: #FABD61;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none;

  @media (max-width: 767px) {
    &.display_s {
      display: block;
    }

    &.flex_s {
      @include flexbox();
    }
  }

  @media (min-width: 768px) {
    &.display_m {
      display: block;
    }

    &.flex_m {
      @include flexbox();
    }
  }
}
