ul.checkboxes {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    input {
      display: none;

      & + span {
        @extend %flexbox;

        &::before {
          @extend %border-radial;

          content: "";
          display: inline-block;
          min-width: calcSize(20px);
          height: calcSize(20px);
          border-radius: 5px;
          vertical-align: middle;
          margin-right: calcSize(10px);
          margin-top: calcSize(2px);
        }
      }

      &:checked + span::before {
        // not defined in macket
        box-shadow: 0 0 0 3px inset white;
        background: radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%) border-box;
      }
    }
  }
}

.guide__preview {
  @extend %flexbox;
  @include align-items(center);
  @include flex-just(center);
  @extend %f-Oswald;
  font-size: calcSize(24px);
  line-height: calcSize(36px);
  text-align: center;
  text-transform: uppercase;
  width: calcSize(185px);
  height: calcSize(270px);
  position: relative;
  z-index: 0;
  color: #FF0000;
  margin: auto;

  &:before {
    content: "";
    position: absolute;
    background: #c4c4c4;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: rotate(8deg);
    z-index: -1;
  }
}