form {
  .notes {
    font-size: calcSize(12px);
    line-height: 150%;
    text-align: center;
    opacity: 0.8;
  }

  label {
    span {
      display: block;
      &:first-child {
        margin-bottom: calcSize(10px);
      }
    } 
  }

  button[type=submit] {
    width: 86%;
    margin: calcSize(30px) auto calcSize(20px);
  }
  
  p {
    margin: calcSize(20px) 0;
  }
}

input[type=number],
input[type=text],
input[type=tel],
input[type=email],
textarea {
  border: 1px solid rgba(70, 70, 70, 0.6);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  padding: calcSize(20px) calcSize(18px);
  width: 100%;

  &::placeholder {
    font-size: calcSize(14px);
    line-height: 150%;
    opacity: 0.6;
  }

  @media (min-width: 415px) {
    padding: calcSize(20px) calcSize(30px);
  }
}