.header {
  color: #464646;
  background-image: url("../img/header-bg-320.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calcSize(747px);
  padding: calcSize(15px) 0;
  transition: 350ms;

  .logo {
    @extend %f-Manrope;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: calcSize(101px);
      height: calcSize(33px);
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .logo span,
  .header__work-time,
  .ico-mail {
    display: none;
  }

  nav, &__social, &__call {
    @extend %flexbox;
    @include align-items(center);
    @include flex-just(space-between);

    gap: calcSize(5px) calcSize(10px);
  }

  nav {
    @include flex-wrap(wrap);

    gap: calcSize(3px); // calcSize(16px);
    font-size: calcSize(14px);
    line-height: 140%;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__contacts {
    text-align: right;

    > * {
      display: block;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: calcSize(16px);
    line-height: calcSize(22px);

    &, &:hover {
      white-space: nowrap;
    }
  }

  &__promo {

    .title {
      @extend %f-Oswald;

      font-size: calcSize(24px);
      line-height: calcSize(36px);
      text-transform: uppercase;
      color: #342100;
      letter-spacing: -0.5px;
      margin: 40px 0 20px;

      strong {
        letter-spacing: 0;
      }
    }

    .description {
      font-size: 1rem;
      line-height: 150%;
    }

    .button {
      margin: calcSize(30px) 0 calcSize(27px);
    }

    .button,
    .styledBlock--pinned {
      max-width: calcSize(344px);
    }

    @media (max-width: 414px) {
      .styledBlock--pinned {
        margin: 0 -15px;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }


  @media (min-width: 320px) {
    &__call {
      width: 100%;

      .button {
        white-space: nowrap;
      }
    }
  }

  @media (min-width: 414px) {
    background-image: url("../img/header-bg.jpg");

    .logo {
      &:before {
        width: calcSize(130px);
        height: calcSize(43px);
        margin-right: calcSize(13px);
      }
    }
  }

  @media (min-width: 586px) {
    padding: calcSize(22px) 0;
  }

  @media (min-width: 656px) {
    padding: calcSize(30px) 0;

    & &__work-time {
      display: block;
    }

    & nav &__phone {
      color: #EFAB33;
    }


    &__call {
      width: unset;

      a.button {
        order: 1;
        padding: calcSize(13px) calcSize(12px);
      }
    }

    .ico-menu {
      order: 2;
    }

    &__promo {
      .title {
        font-size: calcSize(38px);
        line-height: calcSize(56px);
        margin-top: 60px;
      }

      .description {
        font-size: calcSize(20px);
        line-height: calcSize(27px);
      }
    }
  }

  @media (min-width: 700px) {
    &__promo {
      .title {
        margin-top: calcSize(100px);
        letter-spacing: 0;
      }

      .title, .description {
        max-width: calcSize(720px);
      }

      .styledBlock--pinned {
        margin-top: calcSize(57px);
      }
    }
  }

  @media (min-width: 886px) {
    &__social {
      gap: calcSize(5px);
    }

    &__call {
      gap: calcSize(5px) calcSize(10px);
      margin-left: auto;
      margin-right: calcSize(20px);
    }

    &__phone {
      font-size: calcSize(20px);
      line-height: calcSize(27px);
      letter-spacing: 0.3px;
    }

    .ico-mail {
      display: block;
      margin: 0 calcSize(17px) 0 calcSize(25px);
      letter-spacing: -0.2px;

      &:before {
        margin-right: calcSize(12px);
      }
    }
  }

  @media (min-width: 1110px) {
    .logo span {
      display: block;
    }
  }

  @media (max-width: $containerWidth) {
    .container {
      padding-left: calcSize(15px);
      padding-right: calcSize(15px);
    }
  }
}