%ico {
  &-before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
  }

  &-style1 {
    min-width: calcSize(20px);
    height: calcSize(20px);
  }

  &-style2 {
    min-width: calcSize(32px);
    height: calcSize(30px);
    border-radius: 10px;
    background-size: calcSize(40px);

    @media (min-width: 415px) {
      min-width: calcSize(41px);
      height: calcSize(38px);
    }
  }
}

.ico {
  &-mail {
    &:before {
      @extend %ico-before;
      background-image: url("../img/sprite.svg#mail");
      @extend %ico-style1;
    }
  }

  &-whatsapp {
    &:before {
      @extend %ico-before;
      @extend %ico-style2;

      background-image: url("../img/sprite.svg#whatsapp");
    }
  }

  &-telegram {
    &:before {
      @extend %ico-before;
      @extend %ico-style2;

      background-image: url("../img/sprite.svg#telegram");
    }
  }

  &-instagram {
    &:before {
      @extend %ico-before;
      @extend %ico-style2;

      background-image: url("../img/sprite.svg#instagram");
    }
  }

  &-menu {
    &:before {
      @extend %ico-before;
      @extend %ico-style1;

      background-image: url("../img/sprite.svg#menu");
    }
  }

  &-food {
    &:before {
      @extend %ico-before;
      width: calcSize(22px);
      height: calcSize(22px);

      background-image: url("../img/sprite.svg#food");
    }
  }

  &-fam {
    &:before {
      @extend %ico-before;
      @extend %ico-style1;

      background-image: url("../img/sprite.svg#fam");
    }
  }

  &-time {
    &:before {
      @extend %ico-before;
      @extend %ico-style1;

      background-image: url("../img/sprite.svg#time");
    }
  }

  &-program {
    &:before {
      @extend %ico-before;
      @extend %ico-style1;

      background-image: url("../img/sprite.svg#program");
    }
  }

  &-card {
    &:before {
      @extend %ico-before;
      @extend %ico-style1;

      background-image: url("../img/sprite.svg#card");
    }
  }

  &-menu {
    @extend %flexbox;
    @include align-items(center);
    @include flex-just(center);

    width: calcSize(40px);
    height: calcSize(40px);
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(20px);
    border-radius: 5px;

    &:before {
      @extend %ico-before;
      background-image: url("../img/sprite.svg#menu");
      width: calcSize(18px);
    }
  }

  &-close {
    &:before {
      @extend %ico-before;
      @extend %ico-style1;

      background-image: url("../img/sprite.svg#close");
    }
  }
}