.modal {
  display: none;

  &.is-open {
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    @extend .styledBlock;

    padding: calcSize(40px, 700px, 100vh) calcSize(10px, 320px, 100vw);
    width: calcSize(690px);
    max-width: calc(100% - 30px);
    max-height: 100vh;
  }

  &__header {
    @extend %f-Oswald;
    font-size: calcSize(24px);
    line-height: calcSize(36px);
    text-align: center;
    text-transform: uppercase;
    color: #342100;
  }

  &__title {
    font-weight: 700;
    margin: 0;
    font-size: inherit;
  }

  &__close {
    @extend .styledBlock;

    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    padding: calcSize(10px);
  }

  &__content {
    margin-top: calcSize(36px);
    color: #464646;
  }

  &[aria-hidden="false"] {
    .modal__overlay {
      animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .modal__container {
      animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  &[aria-hidden="true"] {
    .modal__overlay {
      animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .modal__container {
      animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  & .modal__container,
  & .modal__overlay {
    will-change: transform;
  }

  &.guide {
    h2 {
      font-weight: normal;
    }

    .button {
      margin: 30px auto;
      width: 86%;
    }
  }

  @media (min-width: 768px) {
    &__container {
      padding: calcSize(50px) calcSize(70px);
    }

    &.guide {
      .modal__container {
        padding: calcSize(60px) calcSize(100px);
        width: calcSize(770px);
      }

      .modal {
        &__content {
          @include flexbox();
          @include align-items(flex-end);
          @include flex-just(space-between);
          margin: 0;
          padding-right: calcSize(30px, 770px, 100%);
        }

        &__title {
          text-align: left;
        }
      }

      .button {
        width: calcSize(270px);
        margin: 0;
      }

      .guide__preview {
        order: 1;
        margin: calcSize(-130px) 0 calcSize(-30px);
      }
    }
  }
}


@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

