@import url(normalize.css);
.button, .ico-menu, .header nav, .header__social, .header__call, .main > footer, .tips, .tips__item, ul.checkboxes li input + span, .guide__preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  font-size: calc(1rem * 14 / 16);
  color: #464646;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(255, 218, 160, 0.5), 0 4px 0 #D3A854;
  background: radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%);
  text-decoration: none;
  padding: calc(1rem * 10 / 16) calc(1rem * 12 / 16);
  line-height: 150%;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border: none;
}

.button:hover {
  text-decoration: none;
}

.button-simple {
  font-weight: unset;
  box-shadow: none;
  text-shadow: none;
  border-radius: 30px;
  letter-spacing: -0.2px;
}

.button-middle, .button.white {
  color: white;
}

.button-big, .button-middle {
  text-transform: uppercase;
}

.tips__item:first-child, .tips__item:last-child {
  border-top: 0px;
  z-index: 0;
}

.tips__item:first-child::before, .tips__item:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(100% - 1px);
  right: 0;
  border-radius: 7px;
  padding-top: 100%;
  transform: scaleY(0.211) translateY(186%);
}

.tips__item:first-child {
  border-top-left-radius: 0;
}

.tips__item:first-child::before {
  border-bottom-left-radius: 0;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 51%, #ffffff 100%);
}

.tips__item:last-child {
  border-top-right-radius: 0;
}

.tips__item:last-child::before {
  border-bottom-right-radius: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 51%, #ffffff 100%);
}

.button-simple, ul.checkboxes li input + span::before {
  background: #ffffff;
  background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%) padding-box, radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%) border-box;
  border: 1px solid transparent;
}

body, .header .logo {
  font-family: Manrope, sans-serif;
}

.header__promo .title, .quiz__item h2, .guide__preview, .modal__header {
  font-family: Oswald, sans-serif;
}

.ico-mail:before, .ico-whatsapp:before, .ico-telegram:before, .ico-instagram:before, .ico-menu:before, .ico-food:before, .ico-fam:before, .ico-time:before, .ico-program:before, .ico-card:before, .ico-close:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

.ico-mail:before, .ico-menu:before, .ico-fam:before, .ico-time:before, .ico-program:before, .ico-card:before, .ico-close:before {
  min-width: calc(1rem * 20 / 16);
  height: calc(1rem * 20 / 16);
}

.ico-whatsapp:before, .ico-telegram:before, .ico-instagram:before {
  min-width: calc(1rem * 32 / 16);
  height: calc(1rem * 30 / 16);
  border-radius: 10px;
  background-size: calc(1rem * 40 / 16);
}

@media (min-width: 415px) {
  .ico-whatsapp:before, .ico-telegram:before, .ico-instagram:before {
    min-width: calc(1rem * 41 / 16);
    height: calc(1rem * 38 / 16);
  }
}

.ico-mail:before {
  background-image: url("../img/sprite.svg#mail");
}

.ico-whatsapp:before {
  background-image: url("../img/sprite.svg#whatsapp");
}

.ico-telegram:before {
  background-image: url("../img/sprite.svg#telegram");
}

.ico-instagram:before {
  background-image: url("../img/sprite.svg#instagram");
}

.ico-menu:before {
  background-image: url("../img/sprite.svg#menu");
}

.ico-food:before {
  width: calc(1rem * 22 / 16);
  height: calc(1rem * 22 / 16);
  background-image: url("../img/sprite.svg#food");
}

.ico-fam:before {
  background-image: url("../img/sprite.svg#fam");
}

.ico-time:before {
  background-image: url("../img/sprite.svg#time");
}

.ico-program:before {
  background-image: url("../img/sprite.svg#program");
}

.ico-card:before {
  background-image: url("../img/sprite.svg#card");
}

.ico-menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: calc(1rem * 40 / 16);
  height: calc(1rem * 40 / 16);
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

.ico-menu:before {
  background-image: url("../img/sprite.svg#menu");
  width: calc(1rem * 18 / 16);
}

.ico-close:before {
  background-image: url("../img/sprite.svg#close");
}

.button-big {
  border-radius: 100px;
  height: calc(1rem * 70 / 16);
  font-weight: 700;
  line-height: 150%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.button-middle {
  border-radius: 100px;
  height: calc(1rem * 60 / 16);
}

.button-small {
  border-radius: 30px;
}

@media (min-width: 569px) {
  .button-big {
    height: calc(1rem * 80 / 16);
  }
  .button-big, .button-middle {
    font-size: calc(1rem * 16 / 16);
  }
}

body {
  background: #E5E5E5;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1170px) {
  .container {
    padding-left: calc(1rem * 8 / 16);
    padding-right: calc(1rem * 8 / 16);
  }
}

img {
  max-width: 100%;
}

.orange {
  color: #FABD61;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .hidden.display_s {
    display: block;
  }
  .hidden.flex_s {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .hidden.display_m {
    display: block;
  }
  .hidden.flex_m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  color: #464646;
  background-image: url("../img/header-bg-320.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(1rem * 747 / 16);
  padding: calc(1rem * 15 / 16) 0;
  transition: 350ms;
}

.header .logo {
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.header .logo:before {
  content: "";
  width: calc(1rem * 101 / 16);
  height: calc(1rem * 33 / 16);
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header .logo span,
.header .header__work-time,
.header .ico-mail {
  display: none;
}

.header nav, .header__social, .header__call {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  gap: calc(1rem * 5 / 16) calc(1rem * 10 / 16);
}

.header nav {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: calc(1rem * 3 / 16);
  font-size: calc(1rem * 14 / 16);
  line-height: 140%;
}

.header nav a {
  text-decoration: none;
  color: inherit;
}

.header__contacts {
  text-align: right;
}

.header__contacts > * {
  display: block;
}

.header__phone {
  font-weight: 700;
  font-size: calc(1rem * 16 / 16);
  line-height: calc(1rem * 22 / 16);
}

.header__phone, .header__phone:hover {
  white-space: nowrap;
}

.header__promo .title {
  font-size: calc(1rem * 24 / 16);
  line-height: calc(1rem * 36 / 16);
  text-transform: uppercase;
  color: #342100;
  letter-spacing: -0.5px;
  margin: 40px 0 20px;
}

.header__promo .title strong {
  letter-spacing: 0;
}

.header__promo .description {
  font-size: 1rem;
  line-height: 150%;
}

.header__promo .button {
  margin: calc(1rem * 30 / 16) 0 calc(1rem * 27 / 16);
}

.header__promo .button,
.header__promo .styledBlock--pinned {
  max-width: calc(1rem * 344 / 16);
}

@media (max-width: 414px) {
  .header__promo .styledBlock--pinned {
    margin: 0 -15px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 320px) {
  .header__call {
    width: 100%;
  }
  .header__call .button {
    white-space: nowrap;
  }
}

@media (min-width: 414px) {
  .header {
    background-image: url("../img/header-bg.jpg");
  }
  .header .logo:before {
    width: calc(1rem * 130 / 16);
    height: calc(1rem * 43 / 16);
    margin-right: calc(1rem * 13 / 16);
  }
}

@media (min-width: 586px) {
  .header {
    padding: calc(1rem * 22 / 16) 0;
  }
}

@media (min-width: 656px) {
  .header {
    padding: calc(1rem * 30 / 16) 0;
  }
  .header .header__work-time {
    display: block;
  }
  .header nav .header__phone {
    color: #EFAB33;
  }
  .header__call {
    width: unset;
  }
  .header__call a.button {
    order: 1;
    padding: calc(1rem * 13 / 16) calc(1rem * 12 / 16);
  }
  .header .ico-menu {
    order: 2;
  }
  .header__promo .title {
    font-size: calc(1rem * 38 / 16);
    line-height: calc(1rem * 56 / 16);
    margin-top: 60px;
  }
  .header__promo .description {
    font-size: calc(1rem * 20 / 16);
    line-height: calc(1rem * 27 / 16);
  }
}

@media (min-width: 700px) {
  .header__promo .title {
    margin-top: calc(1rem * 100 / 16);
    letter-spacing: 0;
  }
  .header__promo .title, .header__promo .description {
    max-width: calc(1rem * 720 / 16);
  }
  .header__promo .styledBlock--pinned {
    margin-top: calc(1rem * 57 / 16);
  }
}

@media (min-width: 886px) {
  .header__social {
    gap: calc(1rem * 5 / 16);
  }
  .header__call {
    gap: calc(1rem * 5 / 16) calc(1rem * 10 / 16);
    margin-left: auto;
    margin-right: calc(1rem * 20 / 16);
  }
  .header__phone {
    font-size: calc(1rem * 20 / 16);
    line-height: calc(1rem * 27 / 16);
    letter-spacing: 0.3px;
  }
  .header .ico-mail {
    display: block;
    margin: 0 calc(1rem * 17 / 16) 0 calc(1rem * 25 / 16);
    letter-spacing: -0.2px;
  }
  .header .ico-mail:before {
    margin-right: calc(1rem * 12 / 16);
  }
}

@media (min-width: 1110px) {
  .header .logo span {
    display: block;
  }
}

@media (max-width: 1170px) {
  .header .container {
    padding-left: calc(1rem * 15 / 16);
    padding-right: calc(1rem * 15 / 16);
  }
}

.main > footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  min-height: 184px;
}

.styledBlock, .tips__item, .quiz__item, .modal__container, .modal__close {
  position: relative;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  padding: calc(1rem * 20 / 16);
  border-radius: 5px;
  transition: 350ms;
}

.styledBlock--pinned {
  background: none;
  font-weight: 700;
  font-size: calc(1rem * 16 / 16);
  line-height: calc(1rem * 22 / 16);
  text-align: center;
  z-index: 0;
  letter-spacing: -0.5px;
}

.styledBlock--pinned:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  z-index: -1;
}

.styledBlock--pinned::after {
  content: "";
  position: absolute;
  width: calc(1rem * 14 / 16);
  height: calc(1rem * 14 / 16);
  left: calc(50% + 1px);
  top: 0;
  transform: translate(-50%, -50%);
  background: radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%);
  box-sizing: border-box;
  border-radius: 100%;
}

.tips {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(1rem * -28 / 16);
  margin-bottom: calc(1rem * 50 / 16);
  gap: calc(1rem * 14 / 16) calc(1rem * 28 / 16);
  line-height: calc(1rem * 22 / 16);
  color: #101010;
}

.tips__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: calc(1rem * 20 / 16);
  gap: calc(1rem * 28 / 16);
}

.tips__item:first-child, .tips__item:last-child {
  display: block;
  min-width: calc(1rem * 155 / 16);
}

.tips__item:first-child i[class*=ico-], .tips__item:last-child i[class*=ico-] {
  display: block;
  margin-bottom: calc(1rem * 5 / 16);
}

@media (max-width: 1010px) {
  .tips__item:first-child {
    order: -4;
  }
  .tips__item:nth-child(2) {
    order: -2;
    flex-grow: 1;
  }
  .tips__item:last-child {
    order: -1;
  }
}

@media (max-width: 1010px) and (min-width: 569px) {
  .tips__item {
    flex-basis: calc(50% - 14px);
  }
  .tips__item:first-child, .tips__item:nth-child(2), .tips__item:last-child {
    flex-basis: 30%;
    display: block;
  }
}

@media (max-width: 568px) {
  .tips__item {
    width: 100%;
  }
  .tips__item:nth-child(2) {
    order: unset;
  }
  .tips__item:last-child {
    order: -1;
  }
  .tips__item:first-child, .tips__item:last-child {
    width: calc(50% - 14px);
  }
}

@media (max-width: 414px) {
  .tips {
    font-size: calc(1rem * 14 / 16);
    gap: calc(1rem * 10 / 16) calc(1rem * 20 / 16);
    line-height: calc(1rem * 19 / 16);
  }
  .tips__item {
    padding: calc(1rem * 20 / 16) calc(1rem * 30 / 16);
    gap: calc(1rem * 14 / 16);
  }
  .tips__item:first-child, .tips__item:last-child {
    padding: calc(1rem * 10 / 16) calc(1rem * 20 / 16) calc(1rem * 20 / 16);
    width: calc(50% - 10px);
    min-width: unset;
  }
}

@media (min-width: 415px) {
  .tips i[class*=ico-] {
    display: block;
    margin-bottom: calc(1rem * 5 / 16);
  }
}

@media (min-width: 1010px) {
  .tips {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .tips__item {
    display: block;
    letter-spacing: -0.4px;
  }
}

.quiz__item {
  color: #101010;
  line-height: 150%;
  padding: calc(1rem * 40 / 16) calc(1rem * 10 / 16);
}

.quiz__item .description {
  font-weight: 700;
  color: #FABD61;
  letter-spacing: -0.4px;
}

.quiz__item h2 {
  font-style: normal;
  font-weight: 400;
  font-size: calc(1rem * 22 / 16);
  line-height: calc(1rem * 33 / 16);
  text-transform: uppercase;
  color: #342100;
  margin: calc(1rem * 20 / 16) 0;
}

.quiz__item .checkboxes {
  padding-left: calc(1rem * 20 / 16);
  letter-spacing: -0.2px;
}

.quiz__item .checkboxes::before {
  content: "";
  display: table;
}

.quiz__item .checkboxes li {
  margin: 11px 0 20px;
}

.quiz__item img {
  display: block;
  border-radius: 5px;
  margin: auto;
}

.quiz__item a.button.flex_m {
  max-width: calc(1rem * 231 / 16);
  margin: calc(1rem * 35 / 16) auto calc(1rem * 48 / 16);
}

.quiz__item a.button.flex_s {
  width: calc(1rem * 250 / 16);
  margin: calc(1rem * 30 / 16) auto calc(1rem * 10 / 16);
}

@media (min-width: 415px) {
  .quiz__item {
    padding: calc(1rem * 40 / 16) calc(1rem * 20 / 16);
  }
}

@media (min-width: 769px) {
  .quiz__item {
    padding: calc(1rem * 50 / 16) calc(1rem * 70 / 16) calc(1rem * 60 / 16);
  }
  .quiz__item__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    gap: calc(100% * 150 / 1030);
  }
  .quiz__item__content__image {
    padding: calc(1rem * 10 / 16) 0;
    text-align: right;
  }
  .quiz__item__content__image img {
    margin-right: 0;
    display: block;
  }
  .quiz__item__content .col {
    flex-grow: 1;
    flex-basis: 50%;
  }
  .quiz__item .checkboxes {
    padding-left: calc(100% * 100 / 440);
  }
  .quiz__item .description {
    font-size: calc(1rem * 20 / 16);
    line-height: 150%;
  }
  .quiz__item h2 {
    font-size: calc(1rem * 38 / 16);
    line-height: calc(1rem * 56 / 16);
    margin-bottom: calc(1rem * 30 / 16);
  }
}

@media (max-width: 1170px) {
  .quiz .container {
    padding-left: calc(1rem * 15 / 16);
    padding-right: calc(1rem * 15 / 16);
  }
}

ul.checkboxes {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.checkboxes li input {
  display: none;
}

ul.checkboxes li input + span::before {
  content: "";
  display: inline-block;
  min-width: calc(1rem * 20 / 16);
  height: calc(1rem * 20 / 16);
  border-radius: 5px;
  vertical-align: middle;
  margin-right: calc(1rem * 10 / 16);
  margin-top: calc(1rem * 2 / 16);
}

ul.checkboxes li input:checked + span::before {
  box-shadow: 0 0 0 3px inset white;
  background: radial-gradient(100% 100% at 50% 0%, #FFEBC6 0%, #EFAB33 100%) border-box;
}

.guide__preview {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  font-size: calc(1rem * 24 / 16);
  line-height: calc(1rem * 36 / 16);
  text-align: center;
  text-transform: uppercase;
  width: calc(1rem * 185 / 16);
  height: calc(1rem * 270 / 16);
  position: relative;
  z-index: 0;
  color: #FF0000;
  margin: auto;
}

.guide__preview:before {
  content: "";
  position: absolute;
  background: #c4c4c4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotate(8deg);
  z-index: -1;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  padding: calc(100vh * 40 / 700) calc(100vw * 10 / 320);
  width: calc(1rem * 690 / 16);
  max-width: calc(100% - 30px);
  max-height: 100vh;
}

.modal__header {
  font-size: calc(1rem * 24 / 16);
  line-height: calc(1rem * 36 / 16);
  text-align: center;
  text-transform: uppercase;
  color: #342100;
}

.modal__title {
  font-weight: 700;
  margin: 0;
  font-size: inherit;
}

.modal__close {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  padding: calc(1rem * 10 / 16);
}

.modal__content {
  margin-top: calc(1rem * 36 / 16);
  color: #464646;
}

.modal[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal .modal__container,
.modal .modal__overlay {
  will-change: transform;
}

.modal.guide h2 {
  font-weight: normal;
}

.modal.guide .button {
  margin: 30px auto;
  width: 86%;
}

@media (min-width: 768px) {
  .modal__container {
    padding: calc(1rem * 50 / 16) calc(1rem * 70 / 16);
  }
  .modal.guide .modal__container {
    padding: calc(1rem * 60 / 16) calc(1rem * 100 / 16);
    width: calc(1rem * 770 / 16);
  }
  .modal.guide .modal__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin: 0;
    padding-right: calc(100% * 30 / 770);
  }
  .modal.guide .modal__title {
    text-align: left;
  }
  .modal.guide .button {
    width: calc(1rem * 270 / 16);
    margin: 0;
  }
  .modal.guide .guide__preview {
    order: 1;
    margin: calc(1rem * -130 / 16) 0 calc(1rem * -30 / 16);
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

form .notes {
  font-size: calc(1rem * 12 / 16);
  line-height: 150%;
  text-align: center;
  opacity: 0.8;
}

form label span {
  display: block;
}

form label span:first-child {
  margin-bottom: calc(1rem * 10 / 16);
}

form button[type=submit] {
  width: 86%;
  margin: calc(1rem * 30 / 16) auto calc(1rem * 20 / 16);
}

form p {
  margin: calc(1rem * 20 / 16) 0;
}

input[type=number],
input[type=text],
input[type=tel],
input[type=email],
textarea {
  border: 1px solid rgba(70, 70, 70, 0.6);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  padding: calc(1rem * 20 / 16) calc(1rem * 18 / 16);
  width: 100%;
}

input[type=number]::placeholder,
input[type=text]::placeholder,
input[type=tel]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
  font-size: calc(1rem * 14 / 16);
  line-height: 150%;
  opacity: 0.6;
}

@media (min-width: 415px) {
  input[type=number],
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea {
    padding: calc(1rem * 20 / 16) calc(1rem * 30 / 16);
  }
}

/*# sourceMappingURL=styles.css.map */