<div class="modal" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <button class="modal__close ico-close" aria-label="Close modal" data-micromodal-close></button>
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Заполните форму
        </h2>
        <div class="modal__description">мы предоставим ссылку для скачивания</div>
      </header>
      <main class="modal__content" id="modal-1-content">
        <form action="modal2.html" class="js-getGuide">
          <p><label><span>Имя</span><input type="text" name="name" placeholder="Ваше имя..."></label></p>
          <p><label><span>Телефон</span><input type="tel" name="phone" placeholder="+7 ("></label></p>
          <p><label><span>Инстаграм</span><input type="text" name="instagram" placeholder="Введите ваш инстаграм..."></label></p>
          <button class="button button-big white" type="submit">Получить гайд</button>
          <div class="notes">Нажимая на кнопку, вы даете согласие на обработку персональных данных в соответствии с №152
            ФЗ о персональных данных
          </div>
        </form>
      </main>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>