<div class="modal guide" id="modal-2" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
      <button class="modal__close ico-close" aria-label="Close modal" data-micromodal-close></button>
      <header class="modal__header">
        <h2 class="modal__title" id="modal-2-title">
          Вaша&nbsp;<strong>ссылка</strong> для&nbsp;скачивания
        </h2>
      </header>
      <main class="modal__content" id="modal-2-content">

        <div class="guide__preview">превью гайда</div>
        <a href="#" class="button button-big white">Скачать</a>
        
      </main>
      <footer class="modal__footer">
      </footer>
    </div>
  </div>
</div>